@import "../../ComponentsCss/header.css";
@import "../../ComponentsCss/global.css";
@import "../../ComponentsCss/body.css"; 
@import url(../../ComponentsCss/describe.css);
@import url(../../ComponentsCss/code.css);
@import url(../../ComponentsCss/nav.css);


:root{
    --gird-item-color:#009A4E;
}

.center .grid-head{
    font-size: 1.5rem;
    padding: 1rem;
}

.center .grid-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.grid-items-3{
    display: grid;
    border: solid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows:1fr;
    gap: 0.5rem;
    padding: 1rem;
    
    box-shadow: 5px 5px 5px 5px #a9a9a9
}

.grid-item{
    background-color:var(--gird-item-color)
    
}
.grid-item img{
    height: 100%;
    width: 100%;
}

.grid-items-2{
    display: grid;
    border: solid;
    width: auto;
    grid-template-columns: auto auto;
    grid-template-rows:1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px 5px #a9a9a9
}