@import "../../ComponentsCss/header.css";
@import "../../ComponentsCss/global.css";
@import "../../ComponentsCss/body.css"; 
@import url(../../ComponentsCss/describe.css);
@import url(../../ComponentsCss/code.css);
@import url(../../ComponentsCss/nav.css);

:root{
    --danger:#F8D7DA;
    --warning:#FFF3CD;
    --dark: #1f1e1e;
    --success:#D4EDDA;
    --primary: #CCE5FF;
    --light:#E2E3E5;
}


.alert-head{
    font-size: 1.5rem;
    padding: 1rem;
}

.alert-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.alert{
    padding: 1rem;
    min-width: 25rem;
    color: black;
    font-size: 500;
    border-radius: 0.5rem;
}
.alert.alert-simple{
    padding: 1rem;
    color: black;
    font-size: 500;
    border-radius: 0.5rem;
    border: solid;
}
.alert.alert-danger{
    background-color: var(--danger);
    color: #c201018e;
}
.alert.alert-warning{
    background-color: var(--warning);
    color: #AC934F;
}
.alert.alert-dark{
    background-color: var(--dark);
    color: #eceff1;
}
.alert.alert-success{
    background-color: var(--success);
    color: #8AA98D;
}
.alert.alert-light{
    background-color: var(--light);
    color: #8D9295;
}
.alert.alert-primary{
    background-color: var(--primary);
    color: #5882AE;
}
    
.code-box {
    /* max-width: 75vw; */
    background: #eee;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    
    overflow-y: scroll;
}
.code-box .code-head{
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}



@media screen and (max-width:920px) {
    .center{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
